@model NuvemMVCApp.Models.Person

@{
    ViewData["Title"] = "Delete Person";
}

<h2>Delete Person</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.birthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.birthDate)
        </dd>
        <dd>
            <br/>
            <form asp-action="Delete">
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </form>
        </dd>
    </dl>
    
   
    <a asp-action="Index" title="Back to List">
        <span class="glyphicon glyphicon-arrow-left" />
    </a>
</div>
