@model NuvemMVCApp.Models.Person

@{
    ViewData["Title"] = "Details Person";
}

<h2>Details Person</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.birthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.birthDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" title="Edit">
        <span class="glyphicon glyphicon-cog" />
     </a> |
    <a asp-action="Index" title="Back to List">
        <span class="glyphicon glyphicon-arrow-left" />
    </a>
</div>
